
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	overflow-x: hidden;
}


header {
	background-color: blue;
	width: 100vw;
	height: 13vw;
}

section	{
	background-color: #eceef1;
	width: 100vw;
	height: 48.5vw;
}

footer {
	background: green;	
	width: 100vw;
	height: 11vw;
}


form {
	margin: 0 auto;
	display: block;
	width: 25%;
	height: 100%;
	background-color: #fff;
	padding: 0 2rem;
}

form h2,
h5 {
	font-weight: inherit;
	text-align: center;
}

form h2:first-child {
	padding-top: 1rem;	 
}

form h5 {
	margin-bottom: 2rem;
}

fieldset label {
	margin-bottom: 2rem;
	display: block;
}

.submit {
	display: block;
	margin: 0 auto;
	text-align: center;
}

label input {
	width: 90%;
	border: 1px solid black;
	border-radius: 6%;
}