
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
	overflow-x: hidden;
	background-color: #eceef1;
}


header {
	background-color: #eceef1;
	width: 100vw;
	height: 13vw;
}

section	{
	background-color: #eceef1;
	width: 100vw;
	height: 48.5vw;
	margin: 1rem 0;
}

footer {
	background: #eceef1;	
	width: 100vw;
	height: 6vw;
}


form {
	margin: 0 auto;
	display: block;
	width: 25%;
	height: 100%;
	background-color: #fff;
	padding: 0 2rem;
	border: 1px solid rgb(199,199,199);
	position: relative;
}

form h2,
h5 {
	font-weight: inherit;
	text-align: center;
}

form h2:first-child {
	padding-top: 1rem;	 
}

form h5 {
	margin-bottom: 2rem;
}

fieldset label {
	margin-bottom: 2rem;
	display: block;
}

.submit {
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #0077c5;
	width: 100%;
	border-radius: 3px;
	color: white;
	border: 1px solid #0077c5;
	height: 3vw;
	margin-bottom: 8%;
}

label input {
	width: 100%;
	border: 1px solid rgb(193, 197, 200);
	border-radius: 3px;
	margin-top: 3%;
	height: 2vw;
}

fieldset small {
	position: absolute;
	top: 73%;
	font-size: x-small;
}

.span1 {
	text-align: center;	
	margin-bottom: 8%;
	color: #bbb;
	font-size: 12px;
	display: block;
	line-height: 170%;
}

form div {
	background-color: #eceef1;
	position: absolute;
	bottom: 0;
	width: 86%;
	padding: 1.4rem 1.7rem;
	margin: 0 -2rem;
	text-align: center;
	font-size: 10px;
	color: #8d9096;
	height: 1vw;
}

.small:after {
	content: "Standard call, messaging or data rates may apply.";
	font-size: x-small;	
}

a {
	text-decoration: none;
	color: #0077c5; 
}

footer div {
	text-align: center;
	font-size: 12px;
	color: #505050;	
	line-height: 1.3rem;
	margin-top: 2.5%;
}

footer span {
	margin-left: 0.3rem;
}

footer a {
	color: inherit;
}

.img1 {
	background-image: url(intuit.png);
	height: 2.7vw;
	width: 8.8vw;
	margin: 0 auto;
	background-position: 0 0;
}

.img2 {
	background-image: url(intuit.png);
	background-position: 0 3vw;
	width: 25vw;
	height: 3vw;
	margin: 0 auto;
} 

.logo {
	position: absolute;
	margin: 6% auto;
	width: inherit;
}

.li1 {
	background-image: url(mint.svg);
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	height: 2vw;
	width: 2vw;
	display: inline-block;
	text-align: center;
}

.li2 {
	background-image: url(mint-text.svg);
	width: 2.8vw;
	height: 1.1vw;
}

.li3 {
	background-image: url(quick.svg);
}

.li4 {
	background-image: url(quick-text.svg);
	width: 7.6vw;
	height: 1.5vw;
}

.li5 {
	background-image: url(1.svg);
}

.li6 {
	background-image: url(1-text.svg);
	width: 5.7vw;
	height: 1.3vw
}